version: '3.8'

services:
  web:
    build: .
    container_name: mobilist_web
    ports:
      - "8088:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
    restart: always