<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Créer un compte</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/creeruncompte.css') }}">
</head>
<body>
  <div class="container">
    <h2>Créer un compte sur MobiList</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('creer_compte') }}">
      {{ form.hidden_tag() }}

      {{ form.nom.label }}
      {{ form.nom(placeholder="Votre nom") }}

      {{ form.prenom.label }}
      {{ form.prenom(placeholder="Votre prénom") }}

      {{ form.date_naissance.label }}
      {{ form.date_naissance(placeholder="YYYY-MM-DD") }}

      {{ form.telephone.label }}
      {{ form.telephone(placeholder="0612345678") }}

      {{ form.email.label }}
      {{ form.email(placeholder="exemple@gmail.com") }}

      {{ form.Password.label }}
      <div class="password-field">
        {{ form.Password(id="password") }}
        <button type="button" class="eye" onclick="togglePassword('password')">👁️</button>
      </div>

      {{ form.confirm.label }}
      <div class="password-field">
        {{ form.confirm(id="confirm") }}
        <button type="button" class="eye" onclick="togglePassword('confirm')">👁️</button>
      </div>

      {{ form.submit(class="btn") }}

      <div class="login-link">
        Déjà un compte ? <a href="{{ url_for('login') }}">Se connecter</a>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/togglePassword.js') }}"></script>
</body>
</html>