{% extends "base.html" %}

{% block title %}Modifier le logement{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/modifier_logement.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>Modifier le logement</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nom_logement.label(class="form-label") }}
            {{ form.nom_logement(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.adresse.label(class="form-label") }}
            {{ form.adresse(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('mes_logements') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}