{% extends "base.html" %}
{% block title %}Tableau de Bord{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tableauDeBord.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
<div class="container">
    <main class="main-content">
        <header> 
            <h1>Tableau de Bord</h1>
            <p>Bienvenue dans MobiList - Gérez vos inventaires de biens mobiliers</p>
            <a href="{{ url_for('ajouter_logement') }}" class="btn-primary">+ Nouveau logement</a>
        </header>

        <section class="stats">
            <div class="card">
                <p>📦 Logements :</p>
                <h3>{{ nb_logements }}</h3>
            </div>
            <div class="card">
                <p>🏡 Nombre de Biens :</p>
                <h3>{{ nb_biens_total }}</h3>
            </div>
            <div class="card">
                <p>💰 Valeur Totale des Biens :</p>
                <h3>{{ "%.2f"|format(valeur_totale) }} €</h3>
            </div>
        </section>

        <section class="logements">
            <h2>Mes Logements</h2>
            
            {% for item in logements_stats[:3] %}
            <div class="logement-item">
                <div class="logement-info">
                    
                    <h3>{{ item.logement.nom_logement }}</h3>
                    <p style="color: #666; font-size: 0.9em; margin-bottom: 5px;">{{ item.logement.adresse }}</p>
                    
                    <p>
                        {{ item.nb_pieces }} pièces - 
                        {{ item.nb_biens }} biens - 
                        Valeur : {{ "%.2f"|format(item.valeur_logement) }} €
                    </p>
                </div>
                <div class="logement-actions">
                    <a href="{{ url_for('view_logement_pieces', id=item.logement.id_logement) }}" class="btn btn-info">Consulter<i class="fas fa-eye"></i></a>
                </div>
            </div>
            {% else %}
                <p>Vous n'avez pas encore de logement.</p>
            {% endfor %}
            <div class="voir-plus">
                <a href="{{ url_for('mes_logements') }}" class="btn btn-info">Voir plus<i class="fas fa-eye"></i></a>
            </div>
        </section>
    </main>
</div>

<script src="{{ url_for('static', filename='js/tableauDeBord.js') }}"></script>

{% endblock %}
