{% extends "base.html" %}
{% block title %}Tableau de Bord{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tableauDeBord.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <main class="main-content">
        <header> 
            <h1>Tableau de Bord</h1>
            <p>Espace Assureur - Gestion des sinistres et des assurés</p>
            <a href="{{ url_for('liste_sinistres') }}" class="btn-primary">Voir tous les sinistres</a>
        </header>

        <section class="stats">
            <div class="card">
                <p>📦 Sinistre en attente :</p>
                <h3>{{ sinistres_en_attente }}</h3>
            </div>
            <div class="card">
                <p>🏡 Expertise à valider :</p>
                <h3>{{ expertises_a_valider }}</h3>
            </div>
            <div class="card">
                <p>🏡 Totale demande :</p>
                <h3>{{ total_demandes }}</h3>
            </div>
            <div class="card">
                <p>💰 Valeur Totale des Biens :</p>
                <h3>{{ "%.2f"|format(valeur_totale) }} €</h3>
            </div>
        </section>

        <section class="logements">
            <h2>Sinistres Récents</h2>
            
            {% for sinistre in sinistres[:3] %}
            <div class="logement-item">
                <div class="logement-info">
                    
                    <h3>Sinistre {{ sinistre.numero_sinistre }} - {{ sinistre.type_sinistre }}</h3> 
                    
                    <p>
                        Date : {{ sinistre.date_sinistre.strftime('%d/%m/%Y') }} - 
                        Statut: {{ sinistre.statut }} -
                        Montant estimé: {% if sinistre.montant_estime is not none %}{{ "%.2f"|format(sinistre.montant_estime) }} €{% else %}Non estimé{% endif %}
                    </p>

                </div>
                <div class="logement-actions">
                    <a href="{{ url_for('detail_sinistre', id=sinistre.id_sinistre) }}" class="btn btn-info">Consulter<i class="fas fa-eye"></i></a>
                </div>
            </div>
            {% else %}
                <p>Aucun sinistre récent à traiter.</p>
            {% endfor %}
            <div class="voir-plus">
                <a href="{{ url_for('liste_sinistres') }}" class="btn btn-info">Voir plus<i class="fas fa-eye"></i></a>
            </div>
        </section>
    </main>
</div>
{% endblock %}
